* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F3F6F7;
}

/*----------------------------------------MAIN CONTENT CSS---------------------------------------*/

.top-wrapper-container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(https://i.ibb.co/8zBRQY3/Random2.png);
    background-position:center;
    height:700px;
    background-size: cover;
    color: white;
    text-align: center;
    display:flex;
    align-items:center;
  }
  
  .top-wrapper h1 {
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
  }
  
  .top-wrapper h2 {
    letter-spacing: 5px;
    font-size: 20px;
  }

/*----------------------------------------HEADER CSS---------------------------------------*/
header{
    padding: 0 50px;
    width: 100%;
    background-color:#FFFFFF;
    position: fixed;
    top: 0;
    z-index: 10;
}
.header-left{
    float: left;
}
.logo{
    width: 124px;
    margin-top: 20px;
}
.header-right{
    float: right;
    margin-right: -25px;
}
.header-right a{
    color: black;
    line-height: 65px;
    padding: 0 25px;
    display: block;
    float: left;
    transition: all 0.5;
}
.header-right a:hover{
    background-color:grey;
    opacity: 1.0;
}
.fa{
    margin-right: 5px;
}
.ikon-menu{
    float: right;
    color: black;
    font-size: 25px;
    padding: 20px 0;
    display: none;
}
/*-------------------------------PEMBUKA CSS UNTUK SECTION-2-------------------------------*/
.section-2 {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    color: #ffc529;
    text-align: center;
    width: 100%;
    font-family: "Helvetica";
    background-color: rgba(15, 15, 15, 1);
}

.content-heading {
    padding-top: 10px;
}

.heading-2 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 5%;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(232, 232, 232, 0.6);
    background: rgba(0, 0, 0, 0.6);
}

.contents {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4%;
}

.content-wrapper {
    display: flex;
    align-items: center;
    width: 50%;
}

.text-context {
    margin-bottom: 50px
}

.content-wrapper img{
    width: 100%;
    border-radius: 15px;
    margin-top: 25px;
    opacity: 1;
}

.content-field {
    width: 100%;
    border-radius: 15px;
    margin-top: 40px;
}

.content-field ul{
    text-align: left;
    padding-left: 100px;
    line-height: 25px;
    color: #fff;
    margin-top: 10px;
}

.contents-logo{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin-top: 60px;
    margin-left: 60px;
    font-size: 14px;
}

.content-logo{
    flex: auto;
    width: 25%; 
    flex-direction: column;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 2px 2px 10px rgba(232, 232, 232, 0.2);
    border-radius: 15px;
    transition: all .2s ease-in-out;
    margin-left: 15px;
    padding: 10px;
}

.content-logo:hover {
    transform: scale(1.1);
}


.content-logo p{
    margin-top: 10px;
}

.contents-logo img {
    width: 25%;
    border-radius:0;
}

/*-------------------------------PENUTUP CSS SECTION-2-------------------------------*/


/*-------------------------PEMBUKA CSS SECTION-3 PROFIL TIM--------------------------*/

.container-profile {
    margin: 0 30px;
}

a {
    text-decoration: none;
}

.heading-profile {
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 6px;
    margin: 45px 0 10px 0;
    text-align: center;
    position: relative;
    font-family: 'Helvetica', cursive;
}

.heading-profile::after {
    content: "";
    width: 280px;
    height: 2px;
    background-color: #EC6E2F;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 24px 34px;
    transition: all 0.3s;
    animation: fade 0.6s 0.3s backwards;
    flex-basis: 20%;
}

.card img {
    width: 155px;
    border-radius: 50%;
    background-color: #ffc529;
}

.card h1 {
    font-size: 23px;
    color: rgb(31, 31, 31);
    margin-top: 22px;
    letter-spacing: 1px;
}

.card .job-title {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.card .quote {
    font-size: 12px;
    margin: 10px 0;
    font-style: italic;
}


.card ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 22px;
    padding-top: 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.card span {
    font-size: 16px;
    transition: 0.5s;
}

.fa-facebook,.fa-twitter,.fa-instagram {
    color: #606568;
}

.fa-facebook:hover {
    color: #4267B2;
}

.fa-twitter:hover {
    color: #1DA1F2;
}

.fa-instagram:hover {
    color: #C13584;
}

.card:hover {
    transform: scale(1.05);
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*-------------------------PENUTUP CSS SECTION-3 PROFIL TIM--------------------------*/
