/* Untuk Tablet */
@media all and (max-width: 1000px) {
      
  .content-wrapper {
    width: 50%;
  }
      
  .top-wrapper h1 {
    font-size: 32px;
  }    
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
      
  .top-wrapper{
    background-position:70%;
  }

  .top-wrapper {
    text-align: left;
  }    

      
/*CSS RESPONSIVE SECTION-2*/
  .content-wrapper {
    width: 100%;
  }
  .section-2 {
    margin-bottom: 20%; 
    height: 780px; 
  }
  .heading-2 {
    font-size: 24px;
  }
  .content-field {
    margin-bottom: 40px;
  }
  .content-field ul {
    padding-left: 30px;
    line-height: 25px;
    font-size: 14px;    
  }
  .contents-logo {
    font-size: 12px;
    width: 95%;
    margin: 20px 0 0 0;
  }
  .content-logo {
    width: 25%;
    line-height: 15px;
    margin: 0 0 0 5px;
  }
/*HEADER CSS RESPONSIVE*/
  .header-right{
    display: none;
  }
  .ikon-menu{
    display: block;
  }

/*PENUTUP CSS RESPONSIVE SECTION-2*/
}
