/* Untuk Tablet */
@media all and (max-width: 1000px) {
      
  .content-wrapper {
    width: 50%;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
/*CSS RESPONSIVE CONTENT-WRAPPER*/
  .content-wrapper {
    width: 100%;
  }
  .section-2 {
    margin-bottom: 20%; 
    height: 750px; 
  }
  .heading-2 {  	
    font-size: 24px;
  }
  .content-field{
    margin-bottom: 40px;
  }
  .content-field ul{
    padding-left: 30px;
    line-height: 25px;
    font-size: 14px;
    margin-top: 2%;    
  }
  .contents-logo{
    font-size: 12px;
    width: 100%;
    margin: 10px 0px 10px 0px;
  }
  .content-logo{
    width: 25%;
  }

/*PENUTUP CSS RESPONSIVE CONTENT-WRAPPER*/
}