*{
    box-sizing: border-box;
}
html, body, ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div{
 margin: 0;
 padding: 0;
}
body{
    font-family: "Calibri";
}
.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
header{
    height: 65px;
    width: 100%;
    background-color:whitesmoke;
    opacity: 0.5;
    position: fixed;
    top: 0;
    z-index: 10px;
}
.header-left{
    float: left;
}
.logo{
    width: 124px;
    margin-top: 20px;
}
.header-right{
    float: right;
    margin-right: -25px;
}
.header-right a{
    color: black;
    line-height: 65px;
    padding: 0 25px;
    display: block;
    float: left;
    transition: all 0.5;
}
.header-right a:hover{
    background-color:grey;
    opacity: 0.1;
}
.fa{
    margin-right: 5px;
}
.ikon-menu{
    float: right;
    color: black;
    font-size: 25px;
    padding: 20px 0;
    display: none;
}